### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### GPShell ###
globalplatform.dll
gppcscconnectionplugin.dll
gpshell.exe
legacy.dll
libcrypto-1_1.dll
libcrypto-3.dll
libssl-1_1.dll
libssl-3.dll
vcruntime140.dll
zlibwapi.dll

